absl-py
fastdtw
einops
h5py
keopscore
matplotlib
numpy<2.0
openpyxl
opt-einsum
pandas==1.5.3
pytorch-wavelet
PyWavelets
reformer-pytorch==1.4.4
scikit-image
scikit-learn==1.2.2
scipy
statsmodels
sympy
tqdm
torch==2.0.1
transformers
sktime
ipykernel
ipywidgets